name: "Hexesoft-BTicino"
description: "BTicino SCS in Home Assistant"
version: "1.0.1"
slug: "hexesoft_bticino"
arch:
  - aarch64
  - amd64
  - armv7
host_network: true
startup: application
boot: auto

options:
  bticino:
    host: ""
    port: 20000
    password: ""
    logunknowndevices: true
  
  scan_settings:
    skiplight: false
    skipshutter: false
    skipthermostat: false
    disableenergymonitor: false
    energypollingintervalseconds: 60
  
  binary_sensors:
    devices: []
  buttons:
    devices: []
  energy_meters:
    devices: []
  lights:
    devices: []
  relays:
    devices: []
  shutters:
    devices: []
  switches:
    devices: []
  thermostats:
    devices: []
  
  mqtt:
    host: "core-mosquitto"
    port: 1883
    username: ""
    password: ""
    base_topic: "bticino_bridge"
    discovery_prefix: "homeassistant"
  
  system_settings:
    log_level: "info"


schema:
  
  bticino:
    host: str
    port: int
    password: password
    logunknowndevices: bool
  
  scan_settings:
    skiplight: bool
    skipshutter: bool
    skipthermostat: bool
    disableenergymonitor: bool
    energypollingintervalseconds: int(30,3600) # Minimo 30 secondi, massimo 1 ora
  
  binary_sensors:
    devices:
      - name: str
        bus: int(0,15)
        a: int(0,15)
        pl: int(0,15)
        invert: bool
        device_class: list(none|door|window|motion|smoke|moisture|opening|presence|problem|power)
        model: str?
    
  buttons:
    devices:
      - name: str
        bus: int(0,15)
        a: int(0,15)
        pl: int(0,15)
        model: str?
    
  energy_meters:
    devices:
      - name: str
        bus: int(0,15)
        id: int
        model: str?
    
  lights:
    devices:
      - name: str
        bus: int(0,15)
        a: int(0,15)
        pl: int(0,15)
        timer: list(none|0.5s|2s|30s|1m|2m|3m|4m|5m|10m|15m)?
        model: str?
    
  relays:
    devices:
      - name: str
        bus: int(0,15)
        id: int
        model: str?
    
  shutters:
    devices:
      - name: str
        bus: int(0,15)
        a: int(0,15)
        pl: int(0,15)
        model: str?
    
  switches:
    devices:
      - name: str
        bus: int(0,15)
        a: int(0,15)
        pl: int(0,15)
        timer: list(none|0.5s|2s|30s|1m|2m|3m|4m|5m|10m|15m)?
        model: str?
    
  thermostats:
    devices:
      - name: str
        zone: int(0,99)
        canHeat: bool?
        canCool: bool?
        manageFan: bool?
        model: str?
      
  mqtt:
    host: str
    port: int
    username: str?
    password: password?
    base_topic: str
    discovery_prefix: str

  # Gruppo 4: Scansioni e Log
  system_settings:
    log_level: list(info|debug|warning|error)